:root {
  --btn-border-radius: 10px;
  --primary-color: rgb(133, 40, 214);
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  padding: 100px;
  text-align: center;
}

h1 {
  font-size: 64px;
}

h2 {
  color: rgba(0, 0, 0, 0.677);
}

.primary-link {
  border-radius: var(--btn-border-radius);
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.links-on-homepage {
  display: flex;
  justify-content: center;
}

.link-to-homepage {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid rgba(33, 40, 214, 0.095);
  border-radius: var(--btn-border-radius);
  padding: 10px;
}

.link-to-homepage a {
  text-decoration: none;
  color: rgba(28, 28, 28, 0.879);
  margin: 15px;
}
.btn-about,
.btn-contact {
  border: 1px solid rgb(133, 40, 214);
  background: rgb(133, 40, 214);
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: var(--btn-border-radius);
  margin: 30px;
}

.btn-about:hover,
.btn-contact:hover {
  background: white;
  color: rgb(133, 40, 214);
  transition: 0.2s;
}

.about-content {
  display: flex;
  justify-content: space-evenly;
}

.p-1 {
  padding: 0.5rem !important;
  margin: 30px;
}

@media (max-width: 768px) {
  .project-img {
    display: none;
  }
  body {
    padding: 30px;
    padding-top: 100px;
  }
  .btn-about,
  .btn-contact {
    margin: 15px;
  }
  h1 {
    font-size: 50px;
  }
}
